/* estilos.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px; /* Ajusta el ancho máximo de la container */
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

#imagenPersona {
    max-width: 100%; /* Hace que la imagen sea fluida */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.botones button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Agrega transición para el efecto de hover */
}

.botones button:hover {
    opacity: 0.8;
    background-color: #007bff; /* Cambia el color de fondo en hover */
}

/* Media Queries para pantallas pequeñas (menos de 600px) */
@media (max-width: 600px) {
    .botones button {
        width: 100%; /* Hace que los botones sean de ancho completo */
        margin: 10px 0;
    }

    #imagenPersona {
        width: 80%; /* Ajusta el ancho de la imagen para pantallas pequeñas */
        margin: 20px auto;
    }
}
